html{
    margin: 0;
        cursor: url("images/kursor.png"), auto;
        background-image: url("images/background.png")  ;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
body{
    margin: 0;
  
    
}

/* monitor */

section{
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    flex-wrap: wrap;

}
#pulpit {

    float: left;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(7, 50px);
    grid-column-gap: 150px;
    grid-row-gap: 80px;
    position: fixed; top: 0; left: 0; height: 100%; width: 100%;

}

@media (max-width: 600px) {
    #pulpit{
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(7, 50px);
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        }
    
  }

.ikona{
    padding: 1vh;

}


.ikona img {
    height: 10vh;
    width: 10vh;
    cursor: url("images/pointer.png"), pointer;

}


/* pasek zadan */

.footer{
    position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.footer img{
    position: fixed;
    bottom: 0;
    margin: 0;
    height: 5vh;
    width: 100%;
    cursor: url("images/pointer.png"), pointer;

}




/* widgety */



#kamien{
    /* height: 200px; */
    min-height: 120px;
    height: 22vh;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 600px) {
    #kamien{
        opacity: 0.8;
        top: 70%;
            }
  }

 
#kufel{
    display: none;
    /* height: 200px; */
    min-height: 120px;
    height: 22vh;
    position: absolute;
    bottom: 20px;
    right: 180px;
}
@media (max-width: 600px) {
    #kufel{
        
        right: 130px;    }
  }



#pudzian_win{
    display:none;
    /* height: 300px; */
    min-height: 120px;
    height: 32vh;
    position: absolute;
    bottom: 55px;
    right: 0px;
}
#pudzian{
    display:none;
    /* height: 300px; */
    min-height: 120px;
    height: 32vh;
    position: absolute;
    bottom: 55px;
    right: 0px;
}




/* POPUP */

#popup {

    position: fixed;
     top: 40%;
     left: 50%;

     transform: translate(-50%,-50%);
    padding: 50px;
    background: rgba(255, 255, 255, 0);
    visibility: hidden;
    opacity: 0;
        transition: 0.5s ;
}

#popup img {
  width: 80vh;

}

@media (max-width: 600px) {
    #popup img {
        width: 50vh;
    }
  }

#popup.active{
    /* top: 50%; */
    visibility: visible;
    opacity: 1;
        transition: 3s ;
}