html{
    margin: 0;
}
body{
    margin: 0;
}

section{
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    flex-wrap: wrap
}
#pulpit {
    background: cadetblue;
    float: left;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    /*grid-template-columns: 50px 50px 50px 50px 50px 50px;*/
    /*grid-template-rows: 80px auto 80px;*/
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    position: fixed; top: 0; left: 0; height: 100%; width: 100%;

}

.ikona{
    padding: 10px;
    width: fit-content;

}
.ikona span{
    display: block;
    cursor: pointer;
    color: aqua;

    display: flex;
    justify-content: center;


}
.ikona img {
    max-height: 50px;
    max-width: 50px;
    width: auto;
    height: auto;
    cursor: pointer;

}


#pasekZadan{
    /*display: inline-block;*/
    background: aqua;
    height: auto;
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;

}

#pasekZadan img{
    /*width: auto;*/
    /*height: auto;*/
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

#pudzian{
    display: none;
    height: 250px;
    position: absolute;
}
#grid_test{
    background-color:black;
}